<section class="test-editor__section">
  <h2 class="test-editor__section-heading">Editor</h2>

  {{#medium-editor text
    activeButtonClass=coreOptions.activeButtonClass.value
    buttonLabels=coreOptions.buttonLabels.value
    contentWindow=coreOptions.contentWindow.value
    delay=coreOptions.delay.value
    disableReturn=coreOptions.disableReturn.value
    disableDoubleReturn=coreOptions.disableDoubleReturn.value
    disableExtraSpaces=coreOptions.disableExtraSpaces.value
    disableEditing=coreOptions.disableEditing.value
    elementsContainer=coreOptions.elementsContainer.value
    ownerDocument=coreOptions.ownerDocument.value
    spellCheck=coreOptions.spellCheck.value
    targetBlank=coreOptions.targetBlank.value
    class="test-editor__editor"
    onInput=(action (mut text))
    as |editor|}}
    {{#editor.toolbar
      allowMultiParagraphSelection=toolbarOptions.allowMultiParagraphSelection.value
      diffLeft=toolbarOptions.diffLeft.value
      diffTop=toolbarOptions.diffTop.value
      firstButtonClass=toolbarOptions.firstButtonClass.value
      lastButtonClass=toolbarOptions.lastButtonClass.value
      relativeContainer=toolbarOptions.relativeContainer.value
      standardizeSelectionStart=toolbarOptions.standardizeSelectionStart.value
      static=toolbarOptions.static.value
      align=toolbarOptions.align.value
      sticky=toolbarOptions.sticky.value
      stickyTopOffset=toolbarOptions.stickyTopOffset.value
      updateOnEmptySelection=toolbarOptions.updateOnEmptySelection.value
      disabled=toolbarOptions.disabled.value
      as |buttons|}}
      {{#each toolbarOptions.buttons.value as |button|}}
        {{component (get buttons button)}}
      {{/each}}
    {{/editor.toolbar}}

    {{editor.anchor-preview
      hideDelay=anchorPreviewOptions.hideDelay.value
      previewValueSelector=anchorPreviewOptions.previewValueSelector.value
      showOnEmptyLinks=anchorPreviewOptions.showOnEmptyLinks.value
      showWhenToolbarIsVisible=anchorPreviewOptions.showWhenToolbarIsVisible.value
      disabled=anchorPreviewOptions.disabled.value}}

    {{editor.placeholder
      text=placeholderOptions.text.value
      hideOnClick=placeholderOptions.hideOnClick.value
      disabled=placeholderOptions.disabled.value}}

    {{editor.anchor-form
      customClassOption=anchorFormOptions.customClassOption.value
      customClassOptionText=anchorFormOptions.customClassOptionText.value
      linkValidation=anchorFormOptions.linkValidation.value
      placeholderText=anchorFormOptions.placeholderText.value
      targetCheckbox=anchorFormOptions.targetCheckbox.value
      targetCheckboxText=anchorFormOptions.targetCheckboxText.value
      disabled=anchorFormOptions.disabled.value}}

    {{editor.paste
      forcePlainText=pasteOptions.forcePlainText.value
      cleanPastedHTML=pasteOptions.cleanPastedHTML.value
      cleanReplacements=pasteOptions.cleanReplacements.value
      cleanAttrs=pasteOptions.cleanAttrs.value
      cleanTags=pasteOptions.cleanTags.value
      unwrapTags=pasteOptions.unwrapTags.value
      disabled=pasteOptions.disabled.value}}

    {{#editor.keyboard-commands
      disabled=keyboardCommandsOptions.disabled.value
      as |kb|}}
      {{#each keyboardCommandsOptions.commands.value as |cmd|}}
        {{kb.command
          command=cmd.command
          key=cmd.key
          meta=cmd.meta
          shift=cmd.shift}}
      {{/each}}
    {{/editor.keyboard-commands}}

    {{editor.auto-link
      disabled=autoLinkOptions.disabled.value}}

    {{editor.image-dragging
      disabled=imageDraggingOptions.disabled.value}}
  {{/medium-editor}}
</section>

<form onsubmit={{action "preventDefault"}} class="test-editor__section">
  <h2 class="test-editor__section-heading">Options</h2>

  {{#each-in mediumEditorOptions as |section sectionProps|}}
    <div class="configurator-section {{if (contains section openSections) "configurator-section--open"}}">
      <h4
        class="configurator-section__heading"
        onclick={{action "toggleSection" section (contains section openSections)}}>
        {{label-for section}} Options
      </h4>

      {{#if (contains section openSections)}}
        <p class="configurator-section__description">
          {{sectionProps.description}}
        </p>

        <div class="configurator-section__controls">
          {{#each-in sectionProps.options as |option props|}}
            {{oe-control
              name=option
              option=props
              on-change=(action "updateOption" section option)}}
          {{/each-in}}
        </div>
      {{/if}}
    </div>
  {{/each-in}}
</form>
