<section>
  <h2>All defaults</h2>
  {{medium-editor}}
</section>

<section>
  <h2>Customized</h2>
  {{#medium-editor as |editor|}}
    {{#editor.toolbar as |buttons|}}
      {{#buttons.italic}}
        <i>Italic</i>
      {{/buttons.italic}}

      {{buttons.bold}}
    {{/editor.toolbar}}

    {{editor.anchor-preview}}

    {{#if show}}
      {{editor.placeholder
        text="Custom"}}
    {{/if}}

    {{editor.anchor-form}}

    {{editor.paste}}

    {{editor.keyboard-commands}}

    {{editor.auto-link}}

    {{editor.image-dragging}}
  {{/medium-editor}}
</section>
